@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center align-content-center center">
    <!-- Hotel Information -->
        <h2>Dostępne Pokoje!</h2>
        <p>Oferujemy różnorodne pokoje dostosowane do Twoich potrzeb, od pokoi jednoosobowych po luksusowe apartamenty.</p>
        <p><a class="btn btn-primary" href="/Rooms">Zobacz Pokoje &raquo;</a></p>
</div>
